[submodule "docs"]
	path = docs
	url = https://github.com/MaxwellDPS/docs.git
[submodule "nvitop"]
	path = nvitop
	url = https://github.com/MaxwellDPS/nvitop
[submodule "speaches"]
	path = speaches
	url = https://github.com/speaches-ai/speaches.git
